{% call govukFieldset({
  legend: {
    text: "Search for a SIC code",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}
{{ govukInput({
  label: {
    text: "Search for a SIC code",
    classes: "govuk-visually-hidden",
    isPageHeading: false
  },
  classes: "govuk-!-width-full",
  hint: {
    html: "You can enter keywords to search for a SIC code or enter a SIC code to see what business activity it describes."
  },
  id: "keyword",
  name: "keyword",
  spellcheck: false
}) }}

{{ govukCheckboxes({
  idPrefix: "matchPhrase",
  name: "matchPhrase",
  fieldset: {
    legend: {
      text: "Match exact phrase",
      isPageHeading: true,
      classes: "govuk-visually-hidden"
    }
  },
  items: [
    {
      value: "match-phrase",
      text: "Match exact phrase"

    }
  ]
}) }}
{% endcall %}