
{% extends "layout.html" %}

{% block pageTitle %}
    Find your standard industrial classification (SIC) code - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Check the spelling of your keyword(s).",
            href: "#keyword"
          }
        ]
      }) }}

      <h1 class="govuk-heading-xl">
        Find your standard industrial classification (SIC) code
      </h1>

      <p>
      This code provides Companies House with a description of your company's nature of business.
      <br><br>
      Find the SIC code(s) that is the closest match to your business activity, it does not have to be an exact match.
      <br><br>
  Read the <a class="govuk-link" href="/guidance">Guidance for SIC Codes</a>.</p><br>



{% from "govuk/components/input/macro.njk" import govukInput %}
{% set errorHTML %}
Check the spelling of your keyword(s)
  {% endset %}

{{ govukInput({
  label: {
    text: "Enter keyword(s) to search for your code",
    classes: "govuk-label--l",
    isPageHeading: false
  },
  id: "keyword",
  name: "keyword",
  hint: {
    text: "Enter your business activity, for example, 'motor' or 'plumbing'"
  },
  errorMessage: {
    html: errorHTML
}
}) }}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "phrase",
  name: "phrase",
  fieldset: {
    legend: {
      text: " "
    }
  },
  items: [
    {
      value: "match-phrase",
      text: "Match exact phrase"

    }
  ]
}) }}

      {% from "govuk/components/details/macro.njk" import govukDetails %}

{% set guidance %}
  <p>Search suggestions:
    <ul>
      <li>Describe the goods or services the business produces or sells, for example ‘clothing retailing’ not ‘retailing’.</li>
      <li>If you are self-employed, describe what you do, for example ‘dairy farming’ not ‘dairy farmer’.</li>
      <li>Check that the keywords are spelt correctly.</li>
      <li>Try different keywords or variations.</li>
    </ul>
    For more information, read the <a href="/guidance">Guidance for SIC codes</a>.</p>
  {% endset %}
  {{ govukDetails({
        summaryText: "Tips for searching",
        html: guidance
        }) }}

<form action="/error3">
<button class="govuk-button" action=“/error3” data-module="govuk-button">Search</button>
</form>

<p class="govuk-body govuk-!-font-size-24"><b>There are no results for 'flwer'. Did you mean <a href="/error3"><b>flower</a>?</b></p>



</div>



{% endblock %}
