
{% extends "layout.html" %}

{% block pageTitle %}
    Find a Standard Industrial Classification (SIC) code - GOV.UK
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter keyword(s) that describes your business activity",
            href: "#keyword"
          }
        ]
      }) }}

      <h1 class="govuk-heading-xl">
        Find a Standard Industrial Classification (SIC) code
      </h1>

<p>This code provides Companies House with a description of your company's nature of business.
  <br><br>
  Find the SIC code(s) that is the closest match to your business activity, it does not have to be an exact match.
  <br><br>
  Read the <a class="govuk-link" href="/guidance">Guidance for SIC Codes</a>.</p><br>


{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Enter keyword(s) to search for your code",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "keyword",
  name: "keyword",
  hint: {
    text: "Enter your business activity, for example, 'motor' or 'plumbing'"
  },
  errorMessage: {
    text: "Enter keyword(s) that describes your business activity"
  }
}) }}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      text: " "
    }
  },
  items: [
    {
      value: "match-phrase",
      text: "Match exact phrase"

    }
  ]
}) }}

{% set guidance %}
<p>Search suggestions:
    <ul>
      <li>Describe the goods or services the business produces or sells, for example ‘clothing retailing’ not ‘retailing’.</li>
      <li>If you are self-employed, describe what you do, for example ‘dairy farming’ not ‘dairy farmer’.</li>
      <li>Check that the keywords are spelt correctly.</li>
      <li>Try different keywords or variations.</li>
    </ul>
For more information, read the <a href="/guidance">Guidance for SIC codes</a>.</p>
  {% endset %}
  {{ govukDetails({
        summaryText: "Tips for searching",
        html: guidance
        }) }}


<form action="/error2">
  <button class="govuk-button" action=“/error2” data-module="govuk-button">Search</button>
</form>


</div>

{% endblock %}
