
{% extends "layout.html" %}

{% block pageTitle %}
    Find your standard industrial classification (SIC) code - GOV.UK
{% endblock %}


{% block beforeContent %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "https://www.gov.uk/"
    },
    {
      text: "Find a Standard industrial classification (SIC) code",
      href: "#"
    },
    {
      text: "Guidance for Standard industrial classification (SIC) codes",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<!--
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="javascript:void(0)">
                Search the Register of Overseas Entities
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Guidance
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
          </div>-->




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Guidance</span>
<h1 class="govuk-heading-xl">Standard industrial classification (SIC) codes</h1>


      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-!-margin-bottom-8">
     <li>
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#about">1. What a SIC code is</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#choose">2. How to choose a SIC code</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#change">3. How to change a SIC code</a>
        </li>
</ul>


  <h2 class="govuk-heading-m" id="about">1. What a SIC code is</h2>
   <p class="govuk-body-m govuk-!-margin-bottom-2">A SIC code is a 5-digit code which provides Companies House with a description of your company’s nature of business. It allows us to track the number of businesses that are active in different industries.</p>

   <p>When you register a new company, you’ll need to provide at least one SIC code to describe what it does.</p>

   <p>We use a <a class="govuk-link--no-visited-state" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/527619/SIC07_CH_condensed_list_en.csv/preview" target="_blank">reduced version of the full list of codes (opens in a new tab)</a> available from the Office of National Statistics.

    </p>


  <h2 class="govuk-heading-m" id="choose">2. How to choose a SIC code</h2>
   <p class="govuk-body-m govuk-!-margin-bottom-2">You should use the SIC code that best describes the goods or services your company produces or sells. It does not have to be an exact match. You can use up to four SIC codes if your company provides different goods or services. </p>

{{ govukInsetText({
  html: '<p><a class="govuk-link--no-visited-state" href="/home">Find a Standard industrial classification (SIC) code</a>.</p>'
}) }}


  <h2 class="govuk-heading-m" id="change">3. How to change a SIC code</h2>
   <p class="govuk-body-m govuk-!-margin-bottom-2">You can only change a SIC code when you <a class="govuk-link--no-visited-state" href="https://find-and-update.company-information.service.gov.uk/confirmation-statement">file a confirmation statement</a>. You can file this early if you need to change your code before the confirmation statement is due.</p>






</div>
</div>



{% endblock %}
