
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find a Standard Industrial Classification (SIC) code
      </h1>


<form action="/results" method="get">

      <p class="govuk-body govuk-!-margin-bottom-4">
        This code gives Companies House a description of your company’s nature of business. We use a <a class="govuk-link" href="https://resources.companieshouse.gov.uk/sic/">reduced version of the full list of codes</a> available from the Office of National Statistics. 
      </p>
      <p class="govuk-body govuk-!-margin-bottom-4">
        You should use the SIC code that is the closest match to your business activity when you register your company. You can use up to 4 codes.</p> 

      <p class="govuk-body govuk-!-margin-bottom-8">
        <a class="govuk-link" href="/guidance">Read the guidance for SIC codes</a>.
       </p>



<!-- Kate - edit this in 'includes/search-snippet'-->
{% include "includes/search-snippet.html" %}


{% set guidance %}
  <p>To search for a SIC code, you should:
    <ul>
      <li>enter as much detail as you can - for example, ‘retail of clothing’ instead of ‘retail’</li>
      <li>describe what you do if you’re self-employed - for example, ‘farming' instead of ‘farmer’</li>
      <li>check the spelling is correct</li>
    </ul>
</p>
  {% endset %}
  {{ govukDetails({
        summaryText: "Help with searching for a SIC code",
        html: guidance
        }) }}


<button class="govuk-button" action=“/results” data-module="govuk-button">Search</button>
</form>
</div>



{% endblock %}
