
{% extends "layout.html" %}

{% block pageTitle %}
    Find your standard industrial classification (SIC) code - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find your standard industrial classification (SIC) code
      </h1>
      <p>
        Here is a list of links to each page:
        </p>

<h2 class="govuk-heading-m">Home page</h2>
<p><a class="govuk-link" href="/home">Home</a><br></p>
<p><a class="govuk-link" href="/error1">Error - no keywords entered</a><br></p>


<h2 class="govuk-heading-m">Results</h2>

<p><a class="govuk-link" href="/results4">Results</a><br></p>
<p><a class="govuk-link" href="/results4">Results based on current - WIP </a><br></p>
<p><a class="govuk-link" href="/no-results">Error - no matches</a><br></p>

<h2 class="govuk-heading-m">Guidance</h2>
<p><a class="govuk-link" href="/guidance">Guidance</a><br></p>
<br>

<form action="/home">
<button class="govuk-button" action=“/home” data-module="govuk-button">Start at home page</button>
</form>
</div>



{% endblock %}
