
{% extends "layout.html" %}

{% block pageTitle %}
    Find a Standard Industrial Classification (SIC) code - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find a Standard Industrial Classification (SIC) code
      </h1>


<h2 class="govuk-heading-m">Home page</h2>
<p><a class="govuk-link" href="/home">Home</a><br></p>
<p><a class="govuk-link" href="/results">Results</a><br></p>

<h2 class="govuk-heading-m">Guidance</h2>
<p><a class="govuk-link" href="/guidance">Guidance</a><br></p>

<h2 class="govuk-heading-m">Errors</h2>
<p><a class="govuk-link" href="/error1">Enter keywords that describe your business activity</a><br></p>
<p><a class="govuk-link" href="/no-results">There are no search results</a><br></p>

<h2 class="govuk-heading-m">Archived</h2>
<p><a class="govuk-link" href="/no-results">No results</a><br></p>
<p><a class="govuk-link" href="/results4">Results</a><br></p>
<p><a class="govuk-link" href="/results2">Results based on current - WIP </a><br></p>



<br>

<form action="/home">
<button class="govuk-button" action=“/home” data-module="govuk-button">Start at home page</button>
</form>
</div>



{% endblock %}
