
{% extends "layout.html" %}

{% block pageTitle %}
    Find your standard industrial classification (SIC) code - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find your standard industrial classification (SIC) code
      </h1>
      <p>
        Here is a list of links to each page:
        </p>

<h2 class="govuk-heading-m">Home page</h2>
<p><a class="govuk-link" href="/home">Home</a><br></p>

<h2 class="govuk-heading-m">Errors</h2>
<p><a class="govuk-link" href="/error1">Error 1 - No words entered</a><br></p>
<p><a class="govuk-link" href="/error2">Error 2 - Spelling error</a><br></p>
<p><a class="govuk-link" href="/error3">Error 2B - Option 2 for Spelling error</a><br></p>

<h2 class="govuk-heading-m">Results</h2>
<p><a class="govuk-link" href="/results2">Results - Option 1 (From original)</a><br></p>
<p><a class="govuk-link" href="/results3">Results - Option 2</a><br></p>
<p><a class="govuk-link" href="/results4">Results - Option 3 (Preferred)</a><br></p>

<h2 class="govuk-heading-m">Guidance</h2>
<p><a class="govuk-link" href="/guidance">Guidance</a><br></p>
<br>

<form action="/home">
<button class="govuk-button" action=“/home” data-module="govuk-button">Start at home page</button>
</form>
</div>



{% endblock %}
