
{% extends "layout.html" %}

{% block pageTitle %}
    Find your standard industrial classification (SIC) code - GOV.UK
{% endblock %}

{% block content %}

<a class="govuk-back-link" href="javascript:window.history.back()">Search again</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-top-4">
      Find your standard industrial classification (SIC) code
    </h1>



<!---

    <p>
    This code provides Companies House with a description of your company's nature of business.
    <br><br>
    Find the SIC code(s) that is the closest match to your business activity, it does not have to be an exact match.
    <br><br>
Read the <a class="govuk-link" href="/guidance">Guidance for SIC Codes</a>.</p><br>


{{ govukInput({
  label: {
    text: "Enter keyword(s) to search for your code",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  classes: "govuk-!-width-one-half",
  hint: {
    text: "Enter your business activity, for example, 'motor' or 'plumbing'"
  },
  id: "account-number",
  name: "account-number",
  spellcheck: false
}) }}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "waste",
  name: "waste",
  fieldset: {
    legend: {
      text: " "
    }
  },
  items: [
    {
      value: "match-phrase",
      text: "Match exact phrase"

    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Search"
}) }}
-->

</div>
</div>

<p class="govuk-body govuk-!-font-size-24"><b>There are XX results for 'flower'</b></p>

<div class="govuk-grid-row" style="padding-left:15px">



  {% from "govuk/components/table/macro.njk" import govukTable %}

  {{ govukTable({
    caption: "Dates and amounts",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    head: [
      {
        text: "Business activity"
      },
      {
        text: "Details"
      },
      {
        text: "SIC code"
      }
    ],
    rows: [
      [
        {
          text: "Wholesale of flowers and plants"
        },
        {
          html: '<p class="govuk-body-m">This includes:</p>
                <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                  <li><b>Flowers (wholesale)</b></li>
                  <li><b>Flower salesman (wholesale)</b></li>
                  <li><b>Flower and plants exporter (wholesale)</b></li>

                </ul>



<span class="govuk-accordion__section-toggle" data-nosnippet="">
  <span class="govuk-accordion__section-toggle-focus">
  <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span class="govuk-accordion__section-toggle-text">See more details<span class="govuk-visually-hidden"> this section</span></span></span></span>




                '
        },
        {
          text: "x"
        }
      ],
      [
        {
          text: "Next 33 weeks"
        },
        {
          text: "£109.80 per week"
        },
        {
          text: "£dd"
        }
      ],
      [
        {
          text: "Total estimated pay"
        },
        {
          text: "£4,282.20"
        },
        {
          text: "£dd"
        }
      ]
    ]
  }) }}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-heading-s">Business activity</p>
  </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-heading-s">Details</p> </div>
    </div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p class="govuk-heading-m">Wholesale of flowers and plants
      <p class="govuk-body-m" id="42220"><b>46220</b>
    <br><a class="govuk-link" href="javascript:void(0)" onclick="CopyToClipboard('42220');return false;">Copy code</a></p>





  </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body-s">This includes:</p>
      <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
        <li>Bulbs (wholesale)</li>
        <li><b>Flowers (wholesale)</b></li>
        <li><b>Flower salesman (wholesale)</b></li>
        <li><b>Flower and plants exporter (wholesale)</b></li>
        <li>Plants (wholesale)</li>
        <li>Flowers (wholesale)</li>
        <li>Tulip bulbs (wholesale)</li>
      </ul>
</div></div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-heading-m">Retail sale of flowers, plants, seeds, fertilizers, pet animals and pet food in specialised stores
        <p class="govuk-body-m"><b>47760</b>
      <br><a class="govuk-link-s" href="#">Copy code</a></p>
    </div>
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body-s">This includes:</p>
        <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
          <li>Florist (retail)</li>
          <li>Fertilisers (retail)</li>
          <li><b>Flowers (retail)</b></li>
          <li>Garden centre (retail)</li>
          <li>Garden seeds and plants (retail)</li>
          <li>Pet animals (retail)</li>
          <li>Pet food (retail)</li>
        </ul>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-body-s">
            <span class="govuk-details__summary-text">
              See more business activites
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
                <li>Pet shop (retail)</li>
                <li>Plants (retail)</li>
                <li>Seeds (retail)</li>
            </ul>
          </div>
        </details>
  </div></div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-heading-m">Growing of other non-perennial crops<p class="govuk-body-m"><b>01190</b>
        <br><a class="govuk-link-s" href="#">Copy code</a></p>
      </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body-s">This includes:</p>
          <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
            <li>Alfalfa growing</li>
            <li>Beet seed growing</li>
            <li>Clover growing</li>
            <li>Cut flowers and flower bud production</li>
            <li><b>Flower growing</b></li>
            <li><b>Flower seed growing</b></li>
            <li><b>Flowers grown for drying</b></li>
    </ul>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-body-s">
        <span class="govuk-details__summary-text">
          See more business activites
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
          <li>Fodder maize and other grass growing</li>
          <li>Fodder root growing</li>
          <li>Forage plants seed production including grasses</li>
          <li>Forage kale and similar forage products growing</li>
          <li>Mangold growing</li>
          <li>Sainfoin growing</li>
          <li>Swede growing (fodder)</li>
        </ul>
      </div>
    </details>
</div></div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-heading-m">Renting and leasing of other personal and household goods<p class="govuk-body-m"><b>77299</b>
          <br><a class="govuk-link-s" href="#">Copy code</a></p>
        </div>
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body-s">This includes:</p>
            <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
              <li>Book rental</li>
              <li>Books, journals and magazine renting and leasing</li>
              <li>Clothes hire</li>
              <li>Crockery hire</li>
              <li>Cutlery hire</li>
              <li>Do-it-yourself machinery and equipment hire</li>
              <li>Electrical domestic appliance rental and leasing</li>
            </ul>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-body-s">
                <span class="govuk-details__summary-text">
                  See more business activites
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
                  <li>Electronic equipment for household use renting leasing (excluding media entertainment equipment)</li>
                  <li><b>Flowers and plants rental and leasing</b></li>
                  <li>Footwear rental and leasing</li>
                  <li>Furniture rental and leasing</li>
                  <li>Garden tool hire</li>
                  <li>Glass rental and leasing</li>
                  <li>Household goods hire</li>
                  <li>Housewares rental and leasing</li>
                  <li>Journal rental</li>
                  <li>Jewellery rental and leasing</li>
                  <li>Kitchenware rental and leasing</li>
                  <li>Machinery and equipment used by amateurs or as a hobby e.g. Home repair tools rental and leasing</li>
                  <li>Magazines rental</li>
                  <li>Medical and paramedical equipment (e.g. Crutches) rental and leasing</li>
                  <li>Musical instrument rental</li>
                  <li>Musical instruments rental and leasing</li>
                  <li>Piano hire</li>
                  <li>Pottery rental and leasing</li>
                  <li>Tableware rental and leasing</li>
                  <li>Textiles rental and leasing</li>
                  <li>Theatrical costumes leasing</li>
                  <li>Theatrical scenery leasing</li>
                  <li>Wearing apparel rental and leasing</li>
                </ul>
              </div>
            </details>
        </div></div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-heading-m">Manufacture of other ceramic products n.e.c<p class="govuk-body-m"><b>23490</b>
            <br><a class="govuk-link-s" href="#">Copy code</a></p>
          </div>
            <div class="govuk-grid-column-one-half">
              <p class="govuk-body-s">This includes:</p>
              <ul class="govuk-body-s" class="govuk-list govuk-list--bullet">
                <li>Agricultural ceramic ware (manufacture)</li>
                <li><b>Flower pots made of clay (manufacture)</b></li>
                <li>Jars made of ceramic (manufacture)</li>
                <li>Packaging products made of ceramic (manufacture)</li>
                <li>Pots made of ceramic (manufacture)</li>
              </ul>
        </div></div>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

</div>
{% from "govuk/components/table/macro.njk" import govukTable %}

{% endblock %}
