
{% extends "layout.html" %}


{% block pageTitle %}
  {{ serviceName }} – GOV.UK
{% endblock %}


{% block beforeContent %}
{% include "includes/back-link.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" style="padding-left:15px">


    <h1 class="govuk-heading-xl">
      Find your standard industrial classification (SIC) code
    </h1>




<div class="govuk-grid-row" style="padding-left:15px">




{{ govukTable({
  caption: "There are XX results for 'flower'",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Business activity",
      classes: 'app-custom-class'
    },
    {
      text: "SIC code",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        text: "Wholesale of flowers and plants"
      },
      {
        text: "46220",
        classes: 'govuk-!-font-weight-bold'
      }
    ],
    [
      {
        text: "Wholesale of flowers and plants"
      },
      {
        text: "46220",
        classes: 'govuk-!-font-weight-bold'
      }
    ],
    [
      {
       text: "Retail sale of flowers, plants, seeds, fertilizers, pet animals and pet food in specialised stores"
      },
      {
        text: "47760",
        classes: 'govuk-!-font-weight-bold'
      }
    ]
  ]
}) }}
</div>


{% endblock %}
