
{% extends "layout.html" %}

{% block pageTitle %}
    Find your standard industrial classification (SIC) code - GOV.UK
{% endblock %}

{% block content %}

<a class="govuk-back-link" href="javascript:window.history.back()">Search again</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-4">
      There are XX results for 'flower'
    </h1>

</div>
</div>
<!--      <h1 class="govuk-heading-xl govuk-!-margin-top-4">
      Find your standard industrial classification (SIC) code
    </h1>   test
   <p class="govuk-body-m" id="42220"><b>46220</b>
  <br><a class="govuk-link" href="javascript:void(0)" onclick="CopyToClipboard('42220');return false;">Copy code</a></p>


  <span class="govuk-accordion__section-toggle" data-nosnippet="">
  <span class="govuk-accordion__section-toggle-focus">
  <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span class="govuk-accordion__section-toggle-text">See more details<span class="govuk-visually-hidden"> this section</span></span></span></span>

-->

<div class="govuk-grid-row" style="padding-left:15px">


  {{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Business activity",
        classes: 'govuk-!-width-one-third'
      },
      {
        text: "Details",
        classes: 'govuk-!-width-one-half'
      },
      {
        text: "SIC code",
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          text: "Wholesale of flowers and plants"
        },
        {
          html: '<p class="govuk-body-m">This includes:</p>
                <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                  <li>Flowers (wholesale)</li>
                  <li>Flower salesman (wholesale)</li>
                  <li>Flower and plants exporter (wholesale)</li>
                </ul>

        <details class="govuk-accordion-nav" data-module="govuk-accordion-nav">
          <summary class="govuk-link govuk-body-m">
              <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
              <span class="govuk-accordion__section-toggle-text">See more<span class="govuk-visually-hidden"> this section</span></span>
             
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                <li>Pet shop (retail)</li>
                <li>Plants (retail)</li>
                <li>Seeds (retail)</li>
            </ul>
          </div>
        </details>'
        },
        {
          html: '<p class="govuk-body-m" id="42220"><b>46220</b> </br><a class="govuk-link-s" href="#">Copy code</a></p>
          '
        }
      ],
      [
        {
          text: "Retail sale of flowers, plants, seeds, fertilizers, pet animals and pet food in specialised stores"
        },
        {
          html: '<p class="govuk-body-m">This includes:</p>
                <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                  <li>Flowers (retail)</li>
                </ul>
          
                  <details class="govuk-accordion-nav" data-module="govuk-accordion-nav">
          <summary class="govuk-link govuk-body-m">
              <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
              <span class="govuk-accordion__section-toggle-text">See more<span class="govuk-visually-hidden"> this section</span></span>
             
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                <li>Florist (retail)</li>
          <li>Fertilisers (retail)</li>
          <li>Garden centre (retail)</li>
          <li>Garden seeds and plants (retail)</li>
          <li>Pet animals (retail)</li>
          <li>Pet food (retail)</li>
             <li>Pet shop (retail)</li>
                <li>Plants (retail)</li>
                <li>Seeds (retail)</li>
            </ul>
          </div>
        </details>'
        },
        {
          html: '<p class="govuk-body-m" id="42220"><b>47760</b> </br><a class="govuk-link-s" href="#">Copy code</a></p>'
        }
      ],
      [
        {
          text: "Growing of other non-perennial crops"
        },
        {
          html: '<p class="govuk-body-m">This includes:</p>
                <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                   <li>Flower growing</li>
                    <li>Flower seed growing</li>
                   <li>Flowers grown for drying</li>
                </ul>
          
                  <details class="govuk-accordion-nav" data-module="govuk-accordion-nav">
          <summary class="govuk-link govuk-body-m">
              <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
              <span class="govuk-accordion__section-toggle-text">See more<span class="govuk-visually-hidden"> this section</span></span>
             
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
            <li>Alfalfa growing</li>
            <li>Beet seed growing</li>
            <li>Clover growing</li>
            <li>Cut flowers and flower bud production</li>
            <li>Flower growing</li>
            <li>Flower seed growing</li>
            <li>Flowers grown for drying</li>
            <li>Fodder maize and other grass growing</li>
            <li>Fodder root growing</li>
            <li>Forage plants seed production including grasses</li>
            <li>Forage kale and similar forage products growing</li>
            <li>Mangold growing</li>
           <li>Sainfoin growing</li>
            <li>Swede growing (fodder)</li>
            </ul>
          </div>
        </details>'
        },
        {
          html: '<p class="govuk-body-m" id="01190"><b>01190</b> </br><a class="govuk-link-s" href="#">Copy code</a></p>'
        }
        ],
      [
        {
          text: "Renting and leasing of other personal and household goods"
        },
        {
          html: '<p class="govuk-body-m">This includes:</p>
                <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                <li>Flowers and plants rental and leasing</li>
                </ul>
          
                  <details class="govuk-accordion-nav" data-module="govuk-accordion-nav">
          <summary class="govuk-link govuk-body-m">
              <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
              <span class="govuk-accordion__section-toggle-text">See more<span class="govuk-visually-hidden"> this section</span></span>
             
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
              <li>Book rental</li>
              <li>Books, journals and magazine renting and leasing</li>
              <li>Clothes hire</li>
              <li>Crockery hire</li>
              <li>Cutlery hire</li>
              <li>Do-it-yourself machinery and equipment hire</li>
              <li>Electrical domestic appliance rental and leasing</li>
              <li>Electronic equipment for household use renting leasing (excluding media entertainment equipment)</li>
                  <li>Flowers and plants rental and leasing</li>
                  <li>Footwear rental and leasing</li>
                  <li>Furniture rental and leasing</li>
                  <li>Garden tool hire</li>
                  <li>Glass rental and leasing</li>
                  <li>Household goods hire</li>
                  <li>Housewares rental and leasing</li>
                  <li>Journal rental</li>
                  <li>Jewellery rental and leasing</li>
                  <li>Kitchenware rental and leasing</li>
                  <li>Machinery and equipment used by amateurs or as a hobby e.g. Home repair tools rental and leasing</li>
                  <li>Magazines rental</li>
                  <li>Medical and paramedical equipment (e.g. Crutches) rental and leasing</li>
                  <li>Musical instrument rental</li>
                  <li>Musical instruments rental and leasing</li>
                  <li>Piano hire</li>
                  <li>Pottery rental and leasing</li>
                  <li>Tableware rental and leasing</li>
                  <li>Textiles rental and leasing</li>
                  <li>Theatrical costumes leasing</li>
                  <li>Theatrical scenery leasing</li>
                  <li>Wearing apparel rental and leasing</li>
            </ul>
          </div>
        </details>'
        },
        {
          html: '<p class="govuk-body-m" id="77299"><b>77299</b> </br><a class="govuk-link-s" href="#">Copy code</a></p>'
        }
        ],
      [
       
        {
          text: "Manufacture of other ceramic products n.e.c"
        },
        {
          html: '<p class="govuk-body-m">This includes:</p>
                <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                <li>Flower pots made of clay (manufacture)</li>
                </ul>
          
                  <details class="govuk-accordion-nav" data-module="govuk-accordion-nav">
          <summary class="govuk-link govuk-body-m">
              <span class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span>
              <span class="govuk-accordion__section-toggle-text">See more<span class="govuk-visually-hidden"> this section</span></span>
             
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-body-m" class="govuk-list govuk-list--bullet">
                <li>Agricultural ceramic ware (manufacture)</li>
                <li>Flower pots made of clay (manufacture)</li>
                <li>Jars made of ceramic (manufacture)</li>
                <li>Packaging products made of ceramic (manufacture)</li>
                <li>Pots made of ceramic (manufacture)</li>
            </ul>
          </div>
        </details>'
        },
        {
          html: '<p class="govuk-body-m" id="23490"><b>23490</b> </br><a class="govuk-link-s" href="#">Copy code</a></p>'
        }

      ]
    ]
  }) }}





{{ govukButton({
  text: "Search again",
  href: '/home'
}) }}


{% endblock %}
